# Python cache
__pycache__/
*.py[cod]

# Virtual environment folders
.venv/
venv/
env/

# Driver folder for local ChromeDriver, etc.
driver/

# Byte-compiled / optimized
*.pyo

# Log files
*.log

# Test artifacts
.pytest_cache/
coverage.xml
htmlcov/

# Streamlit cache (if you use it)
.streamlit/cache/
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

raw_data.html